:root {
    --main-color: rgb(191, 227, 196);
    --secondary-color: #009353;
    --heading-color: white;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    background-image: url("../assets/background1.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

main {
    display: flex;
    width: 70%;
    height: 80%;
    border-radius: 10px;
    background-color: var(--main-color);
    padding: 20px;
    gap: 40px;
}

.display {
    background-image: url("../assets/background.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    border-radius: 20px;
    height: 100%;
    width: 50%;
}

.auth {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    position: relative;
}

.auth img {
    position: absolute;
    width: 150px;
    top: -12px;
    left: px;
}

.auth h2 {
    color: var(--heading-color);
    font-size: 32px;
    margin-bottom: 20px;
    margin-top: 100px;
}

.signup {
    display: none;
}

.auth p {
    color: white;
    margin-bottom: 40px;
}

.signupPageBtn,
.loginPageBtn {
    background: none;
    border: none;
    text-decoration: underline;
    font-size: 15px;
    color: var(--secondary-color);
    cursor: pointer;
}

.btn-17,
.btn-17 *,
.btn-17 :after,
.btn-17 :before,
.btn-17:after,
.btn-17:before {
    border: 0 solid;
    box-sizing: border-box;
}

.btn-17 {
    background-color: white;
    color: black;
    background-image: none;
    cursor: pointer;
    font-family: ui-sans-serif, system-ui;
    font-size: 100%;
    font-weight: 900;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    width: 50%;
}

.btn-17:disabled {
    cursor: default;
}

.btn-17:-moz-focusring {
    outline: auto;
}

.btn-17 svg {
    display: block;
    vertical-align: middle;
}

.btn-17 [hidden] {
    display: none;
}
.btn-17 {
    border-radius: 99rem;
    border-width: 2px;
    padding: 0.8rem 3rem;
    z-index: 0;
}
.btn-17,
.btn-17 .text-container {
    overflow: hidden;
    position: relative;
}

.btn-17 .text-container {
    display: block;
}

.btn-17 .text {
    display: block;
    position: relative;
}

.btn-17:hover .text {
    animation: move-up-alternate 0.3s forwards;
}

.btn-17:after,
.btn-17:before {
    --skew: 0.2;
    background: var(--secondary-color);
    content: "";
    display: block;
    height: 102%;
    left: calc(-50% - 50% * var(--skew));
    pointer-events: none;
    position: absolute;
    top: -104%;
    transform: skew(calc(150deg * var(--skew))) translateY(var(--progress, 0));
    transition: transform 0.2s ease;
    width: 100%;
}

.btn-17:after {
    --progress: 0%;
    left: calc(50% + 50% * var(--skew));
    top: 102%;
    z-index: -1;
}
.btn-17:hover{
    color: white;
}
.btn-17:hover:before {    
    --progress: 100%;
}

.btn-17:hover:after {
    --progress: -102%;
}

input {
    width: 80%;
    border: none;
    margin-bottom: 20px;
    padding: 15px 10px;
    border-radius: 5px;
    background-color: rgb(215, 249, 219);
    color: var(--secondary-color);
}

input:focus {
    outline: var(--secondary-color) 1px solid;
}

::placeholder {
    color: #009353;
}
@-webkit-keyframes move-up-alternate {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(80%);
    }

    51% {
        transform: translateY(-80%);
    }

    to {
        transform: translateY(0);
    }
}

@keyframes move-up-alternate {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(80%);
    }

    51% {
        transform: translateY(-80%);
    }

    to {
        transform: translateY(0);
    }
}