* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-color: rgb(191, 227, 196);
    --secondary-color: #009353;
    --third-color:#FAF9F6;
}

body {
    background-color: var(--main-color);
}
body >h1{
    color: var(--secondary-color);
}
main{
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
main >div{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

section {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-right: 20px;
    flex-shrink: 1;
}

section div:first-child {
    text-align: center;
    position: relative;
    top: 30px;
}
section div:first-child p:first-child{
    font-size: 18px;
}
section div:first-child p:nth-child(2){
    font-size: 15px;
}
section div:first-child h4 {
    font-weight: 100;
}
button {
    outline: none;
    cursor: pointer;
    border: none;
    padding: 30px 40px;
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    position: relative;
    display: inline-block;
    letter-spacing: 0.05rem;
    font-weight: 700;
    font-size: 17px;
    border-radius: 6px;
    overflow: hidden;
    background: var(--secondary-color);
    color: ghostwhite;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    white-space: nowrap;
}

button span {
    position: relative;
    z-index: 10;
    transition: color 0.4s;
    color: var(--secondary-color);
}

button:hover span {
    color: var(--third-color);
}

button::before,
button::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

button::before {
    content: "";
    background: var(--third-color);
    width: 120%;
    left: -10%;
    transform: skew(30deg);
    transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
}

button:hover::before {
    transform: translate3d(100%, 0, 0);
}

section button:active {
    transform: scale(0.95);
}

.categories div:not(.hidden) {
    padding: 30px 0px;
    background-color: rgba(250, 249, 246,0.5);
    width: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.overlay {
    
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    display: none ;
    align-items: center;
    justify-content: center;
    z-index: 10;
    background-color: rgba(0, 0, 0,0.3);
}

.model {
    width: 400px;
    height: fit-content;
    background-color: #F5FBF5;
    padding: 15px 20px;
    border-radius: 10px;
}
.model div:first-child{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--secondary-color);
}
.model .input-group {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.model .input-group  input {
    width: 80%;
    border: none;
    margin-bottom: 10px;
    padding: 10px 35px;
    border-radius: 5px;
    background-color: white;
    color: var(--secondary-color);
    border: 1px solid ;
}
.model .input-group  input:focus,
.model .input-group  input:hover {
    outline: none;
    box-shadow: 0 0 0 2px #00935330;
}
.model .input-group  i{
    position: relative;
    left: 25px;
    bottom: 5.5px;
    color: var(--secondary-color);
}
.model div:first-child i{
    font-size: 20px;
    cursor: pointer;
}

::placeholder {
    color: #009353;
}
.hidden{
    opacity: 0;
}
.recipes{
    width: 100%;
    height: 250px;
    overflow-y: scroll;
    color: white;
    position: relative;
    padding-right: 10px;
}
.recipes p{
    color: var(--secondary-color);
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 5px;
}
.recipes div{
    border: 1px solid black;
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 5px;
    color: black;
    background-color: white;
    cursor: pointer;
}
.recipes::-webkit-scrollbar {
  width: 8px; 
}
.recipes::-webkit-scrollbar-track {
  background: #e5f2e7; /* track color */
  border-radius: 10px;
}

.recipes::-webkit-scrollbar-thumb {
  background: #1f774f; /* scroll thumb color */
  border-radius: 10px;
}
@media screen and (max-width:1190px){
    section{
        margin-right: 5px;
    }
}
@media screen and (max-width:1080px){
    main > div{
        height: 70vh;
    }
    button{
        padding: 25px 30px;
    }
    .categories div:not(.hidden){
        padding: 25px 0;
        width: 110px;
    }
}