<nav aria-label="Main">
  <div class=" nav-row" id="nav-desc">
    <div class="nav-inner">
      <a class="nav-logo" href="../html/home.html" aria-label="DailyBites home">
        <img src="../assets/logo.png" alt="DailyBites Logo">
      </a>

      <ul class="nav-links" id="primary-nav" role="navigation" aria-label="Primary">
        <li><a href="../html/home.html">Home</a></li>
        <li><a href="../html/recipe.html">All Recipes</a></li>
        <li><a href="../html/mealPlanner.html">Meal Planner</a></li>
        <li><a href="../html/customer.html">My Recipes</a></li>
        <li><a href="../html/about.html">About Us</a></li>
      </ul>

      <div class="nav-actions" id="nav-actions">
        <a class="btn light auth-btn" href="../../html/auth.html">Login</a>
      </div>
    </div>
  </div>

  <button class="hamburger" id="hamburger" aria-label="Menu" aria-controls="primary-nav" aria-expanded="false">
    <span></span><span></span><span></span>
  </button>
</nav>